* {
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0 auto;
    max-width: 80%;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.inicio{
    background-image: url(./img/maniobra.png);
    background-position: center center;
    background-size: cover;

    header{
        padding: 194px;
        text-align: center;
    }
}